db_data/*
redis-data/*

backend/uploads/*

backend/
backend/.env
frontend/.env

docker/dump.sql
docker/.env
docker/init.sql
docker/.pgpass
docker/.redispass
docker/.s3keys
docker/.ovhkeys
docker/dump_inserts.sql
frontend/.env
