db_data/*
redis-data/*
backend/.tmp/*
backend/uploads/*

backend/.env
frontend/.env

frontend/utils/tests.security.js

docker/dump.sql
docker/.env
docker/init.sql
docker/.pgpass
docker/.redispass
docker/.s3keys
docker/.ovhkeys
docker/dump_inserts.sql
frontend/.env

# Dependencies
node_modules/*
frontend/node_modules/
backend/node_modules/

# Build outputs
frontend/dist/
backend/bin/

scripts/s3-cors-config.json

RELEASE_STRATEGY.md
